.one-comment {
  display: flex;
  align-items: center;
  padding: 8px 0;
  border-bottom: 1px solid #eee;
<<<<<<< HEAD
  justify-content: flex-end;
  text-align: right;
=======
>>>>>>> 2e483bf4d1933bad0a2ff6847ef88cbff09e1cc1
}

.comment-avatar {
  width: 34px;
  height: 34px;
  border-radius: 50%;
<<<<<<< HEAD
  margin-left: 10px;
  order: 2;
=======
  margin-right: 10px;
>>>>>>> 2e483bf4d1933bad0a2ff6847ef88cbff09e1cc1
}

.comment-content {
  flex-grow: 1;
  font-size: 14px;
  display: flex;
  flex-direction: column;
<<<<<<< HEAD
  align-items: flex-end;
=======
>>>>>>> 2e483bf4d1933bad0a2ff6847ef88cbff09e1cc1
}

.comment-username {
  font-weight: bold;
  color: #262626;
  margin-bottom: 2px;
}

.comment-text {
  color: #333;
  word-break: break-word;
}
